<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        input {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <form class="center" action="/api/auth/register" method="post">
        <h1>Register</h1>
        <input type="email" name="email" id="email" placeholder="Enter your email" required><br>
        <input type="password" name="password" id="password" placeholder="Choose a password" required><br>
        <input type="password" name="repeat" id="repeat" placeholder="Repeat your password" required><br>
        <% if (err) { %>
            <h3 style="color: red;"><%= err %></h3>
        <% } %>
        <button>Register</button>
    </form>
</body>
</html>