body {
    background-color: #1e2022;
}

* {
    color: white;
}

button {
    background-color: #cba528;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
}               
button:hover {
    background-color: #ffd146;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    text-align: center;
}

input {
    background-color: #27282b;
    border: 1px #343638 solid;
    padding: 7px;
    border-radius: 7px;
}

input:focus {
    border: 4px #989236 solid;
    background-color: #2d2d2e;
}

::selection {
    background-color: #8a764a
}
::-moz-selection {
    background-color: #8a764a
}
